body {
	font-family: 'Merriweather', serif;
	height: 100%;
}

a {
	color: #38598b;
}

#wrapper {
/*	position: relative;*/
	min-height: 100%
}

#content {
	margin-bottom: -2.5rem;
	overflow-x: auto;
}

#footer {
	background-color: #113f67;
	height: 2.5rem;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.title-block{
	padding: 6.5rem 0 3.5rem 0;
}

.link-container{
	background-color: #e7eaf6;
	box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.image-container{
	position: relative;
	text-align: center;
	color: white;

	
}

.image-container:hover img{
	filter: brightness(50%);
}

.image-container img {
	width: 100%;
	filter: brightness(25%);
	transition: filter 0.25s;
	box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.image-container p {
	font-size: 20px;
	color: #ffffff;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#footer p{
	margin: 0.5rem 0 0 0.5rem;
}

#footer span{
	margin-right: 2rem;
	color: #a2a8d3;
	font-size: 12px;
}

