body {
	font-family: 'Merriweather', serif;
	height: 100%;
}

#wrapper {
	min-height: 100%
}

#content {
	padding-bottom: 3rem;
}

#footer {
	background-color: #113f67;
	height: 2.5rem;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.link-container{
	padding: 6.5rem 0 3.5rem 0;
}

.image-container{
	position: relative;
	text-align: center;
	color: white;

	
}

.image-container:hover img{
	filter: brightness(50%);
}

.image-container img {
	width: 100%;
	filter: brightness(25%);
	transition: filter 0.25s;
}

.image-container p {
	font-size: 18px;
	color: #ffffff;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

